/.blackbox/pubring.gpg~
/.blackbox/pubring.kbx~
/.blackbox/secring.gpg
settings/keys.txt
settings/keys.json
settings/parameters.json
keys.txt
parameters.json
keys.json
.vscode
.blackbox
build
dist
docs
html